/* GLOBAL */

body {
  padding-top: 135px;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  /* font-family: Roboto, "Helvetica Neue", Arial, sans-serif; */
  font-family: Montserrat;
  font-size: 0.9rem;
  font-weight: 350;
  line-height: 1.5;
  color: #636679;
  text-align: center;
  background-color: white;
  z-index: 0;
  /* min-height: 100vh; */
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 200;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 1.75rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
  padding-top:1rem;
}

@media (max-width: 600px) {
  .h3 {
  font-size: 1rem;
  }
}

h4, .h4 {
  font-size: 0.75rem;
}

h5, .h5 {
  font-size: 0.5rem;
}

p, .p {
  font-family: Lato;
}


.white {
  color: white;
}

.blue {
  color: #016482;
}

.orange {
  color: #f18a6f;
}

.grey {
  color:#636679;
}

.font-weight-bold {
  font-weight: 400 !important;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover , a:active{
  color:inherit;
  text-decoration: none;
}

.bg-blue {
  background-color: #016482 !important;
}

.bg-primary {
  background-color:#016482 !important;
}

/* section{
  padding-top: 2rem;
} */

/* Nav bar */


#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  font-family: 'Montserrat';
}

/* #mainNav .navbar-brand {
  color: #fff;
} */

#mainNav .navbar-claim {
  /* margin-bottom: -2rem; */
  font-size: 1rem;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #016482;
  margin-bottom: -60px;
  font-size: 0.9rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #f18a6f;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #f18a6f;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #f18a6f;
}

/* test */
 #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #f18a6f;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #f18a6f;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
/* test */
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

.logo{
  height:5rem;
  }

@media (min-width: 992px) {
  /* #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  } */
  /* #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  } */
  /* #mainNav .navbar-claim {
    font-size: 1.25rem;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  } */
  /* #mainNav .navbar-nav {
    margin-top: 0;
  } */
  /* #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #f18a6f;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #f18a6f;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  } */
  /* .logo{
  height:7rem;
  } */
}

@media (max-width: 992px) {
  /* #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  } */
  /* #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  } */
  #mainNav .navbar-claim {
    font-size: 0.8rem;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
    padding-top: 0.5rem;
  }
  .logo{
  height:4rem;
  }
}

@media (max-width: 600px) {
  #mainNav .navbar-claim {
    font-size: 0.75rem;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
}

@media (max-width: 377px) {
  .logo{
  height:3rem;
  }
  #mainNav .navbar-claim {
    font-size: 0.6rem;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
}

.dropdown-menu, .dropdown-item{
  color:#636679;
}

/* Général */

.question:hover, .question:active{
  color: #f18a6f;
}

.button {
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #016482;
  /* background:url(img/Icone_etiquette_BLEU.png) center no-repeat;
  background-size: 80% auto ; */
  /* background-clip: padding-box; */
  border: none;
}

.button:hover, .button:active {
  /* background-image:url(img/Icone_etiquette_ORANGE.png); */
   background-color:#f18a6f;
}

.button-orange {
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f18a6f;
  /* background:url(img/Icone_etiquette_BLEU.png) center no-repeat;
  background-size: 80% auto ; */
  /* background-clip: padding-box; */
  border: none;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}

.label{
  width: 70%;
}

@media (max-width: 992px) {
  .label {
  width:90% ;
  }
}

@media (max-width: 767px) {
  .label {
  width:50% ;
  }
}

@media (max-width: 480px) {
  .label {
  width:60% ;
  }
}

@media (max-width: 350px) {
  .label {
  width:100% ;
  }
}

.yellow-label{
  width: 30%;
}

@media (max-width: 992px) {
  .yellow-label {
  width:40% ;
  }
}

@media (max-width: 767px) {
  .yellow-label {
  width:50% ;
  }
}

@media (max-width: 480px) {
  .yellow-label {
  width:60% ;
  }
}

@media (max-width: 350px) {
  .yellow-label {
  width:70% ;
  }
}

/* HOME PAGE */

.carousel-item{
  /* height: 85vh; */
  background: no-repeat center center scroll;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-size: 100% auto;
  height: 400px;
}

@media (max-width: 992px) {
  .carousel-item{
  height: 350px;
  }

  #carousel h3{
 font-size: 1.1rem;
 }
}

@media (max-width: 768px) {
  .carousel-item {
  height: 300px;
  }
    #carousel h3{
 font-size: 1rem;
 }
}

@media (max-width: 600px) {
  .carousel-item {
  height: 250px;
  }
    #carousel h3{
 font-size: 0.9rem;
 }
}

@media (max-width: 480px) {
  .carousel-item {
  height: 200px;
  }
    #carousel h3{
 font-size: 0.8rem;
 }
}

/* .carousel-image1{
  background-image:url(img/Je_donne.jpg);
}

.carousel-image2{
  background-image:url(img/Je_trouve.jpg);
}

.carousel-image3{
  background-image :url(img/Je_participe.jpg);
} */



.block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height:10rem;
}

.block-plain{
  background-color: #016482;
  border-color: #016482;
}

/* @media (max-width: 480px) {
  .block-plain:nth-child(1){
  background-color: #f18a6f;
  border-color: #f18a6f;
  color:white;
  }
    .block-plain:nth-child(2n){
  background-color:  #016482;
  border-color:  #016482;
  color:white;
  }
} */

.block-plain:hover, .block-plain:active{
  color: #fff;
  background-color: #f18a6f;
  border-color: #f18a6f;
}

/* .block-image1{
  background-image :url(img/Gaspillage_vestimentaire.png);
  background-size: 100% auto;
}

.block-image2{
  background-image :url(img/Lamelles_jeans.jpg);
  background-size: 100% auto;
}

.block-image3{
  background-image :url(img/images/ourlet.jpeg);
  background-size: 100% auto;
} */

.block-image:hover, .block-image:active{
  background-image :none;
  color:white;
  background-color: #f18a6f;
  border-color: #f18a6f;
}

@media (max-width: 480px) {
  .block-image{
  background-color: #f18a6f;
  border-color: #f18a6f;
  color:white;
  }
}

.block-title{
  background-image :none;
  color:#f18a6f;
  font-size: 1.25rem;
  border-top-left-radius : 0.25rem;
  border-top-right-radius : 0.25rem;
}

/* @media (max-width: 480px) {
  .block-title: {
  color: #fff;
  background-color: #f18a6f;
  border-color: #f18a6f;
  }
} */

.block-image-title{
  background-image :none;
  color:#016482;
  font-size: 1.25rem;
}

.block-title:hover, .block-title:active{
  color: #fff;
  background-color: #f18a6f;
  border-color: #f18a6f;
}

.block-text{
  color:transparent;
  font-size: 0.75rem;
  border-bottom-left-radius : 0.25rem;
  border-bottom-right-radius : 0.25rem;
}

@media (max-width: 480px) {
  .block-text{
  color: #fff;
  }
}

.block-image-text{
  color:transparent;
  font-size: 0.75rem;
}

@media (max-width: 480px) {
  .block-image-text{
  color: #fff;
  }
}

.block-image-text:hover, .block-text:hover, .block-image-text:active, .block-text:active{
  color:white;
}


.page-image{
  background: no-repeat center center scroll;
  background-size: 100% auto;
  height: 500px;
}

@media (max-width: 992px) {
  .page-image{
  height: 450px;
  }
}

@media (max-width: 768px) {
  .page-image {
  height: 350px;
  }
}

@media (max-width: 600px) {
  .page-image {
  height: 300px;
  }
}

@media (max-width: 480px) {
  .page-image {
  height: 250px;
  }
}

/* CORE PAGE */

.page-title{
  position: absolute;
  right: 15%;
  top:150px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.anchor{
  display: block;
  height: 126px;
  margin-top: -126px;
  visibility: hidden;
}

@media (max-width: 397px) {
.anchor{
  height: 100px; 
  margin-top: -100px;
}
}

@media (max-width: 322px) {
.anchor{
  height: 96px;
  margin-top: -96px; 
}
}

/* Timeline */

.right-content, .left-content {
	float:left;
	display:block;
	width:50%;
	padding:1% 2%;
}
.right-content {
  padding-top: 0%;
  padding-bottom: 25%;
  padding-left: 1rem;
}
.left-content {
	border-right:5px dotted #666;	
  padding-top: 25%;
  padding-right: 1rem;
}

.left-content p {
  margin:150px 0 0;
  text-align:right;
}
.right-content p {
  margin:80px 0 150px;
  text-align: left;
}

.right-content p:last-child {
  margin:80px 0 0px;
}

.content05{
  padding-top: 70%;
}

.content07{
  padding-top: 40%;
}

.content09{
  padding-top: 5%;
  margin-bottom: 0px;
}

.timeline {
	margin:0 auto;
	overflow:auto;
  padding:2%;
}

.timeline p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

@media (max-width: 767px) {
.timeline-img {
	width: 110px;
}
}
@media (max-width: 397px) {
.timeline-img {
	width: 100px;
}
}

@media (max-width: 767px) {
.timeline-img-special {
	width: 90%;
}
}
@media (max-width: 397px) {
.timeline-img-special {
	width: 70%;
}
}

/* JE DONNE PAGE */

.jedonne-image{
  background-image:url(img/Je_donne.jpg);
}

/* CONCEPT PAGE */

.concept-image{
  background-image:url(img/Cercle.png);
  background-size: 100% auto ;
  background-repeat: no-repeat;
  height: 750px;
}

/* JE TROUVE PAGE */

.jetrouve-image{
  background-image:url(img/Je_trouve.jpg);
  background-position: center top;
}

.pola {
  position: relative;
  width: 100%;
}
 
.pola-body {
  width: 100%;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
     -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
  /* padding-bottom: 10px; */
}

.pola-picture {
  width: 100%;
  /* padding-bottom: 10px; */
}
 
.pola-text {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #888;
  /* padding-right: 20px; */
}

.pola-buttonmoney {
  width: 40%;
}
@media (max-width: 768px) {
  .pola-buttonmoney {
  width: 30%;
  }
}

@media (max-width: 576px) {
  .pola-buttonmoney {
  width: 20%;
  }
}

.evolutive-heigth{
  height: 220px;
}

@media (max-width: 991px) {
  .evolutive-heigth{
  height: 550px;
  }
}

@media (max-width: 767px) {
  .evolutive-heigth{
  height: 440px;
  }
}

@media (max-width: 576px) {
  .evolutive-heigth{
  height: 950px;
  }
}

@media (max-width: 415px) {
  .evolutive-heigth{
  height: 750px;
  }
}

@media (max-width: 377px) {
  .evolutive-heigth{
  height: 650px;
  }
}

@media (max-width: 322px) {
  .evolutive-heigth{
  height: 550px;
  }
}

/* Partners Section */

.partners{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 2rem;
  height:10rem;
}

/* Footer */

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #636679;
  color: #fff;
}

