{% extends 'base.html.twig' %}

{% block title %}Concept TROC&Mode Kids{% endblock %}

{% block body %}

<!-- Page Content -->

    <div class="container">
<!-- Section 1 :  concept en cercle ou 9 étapes -->
        <div id="section1">
        <h3 class="orange pb-2">Troc&Mode kids est une association dont l’objectif est de promouvoir le recyclage «utile» des vêtements pour enfants.</h3>
            <a href="">
                <img src="http://127.0.0.1:8000/images/Icone_VIDEO_74x74.png">
                <p>Découvrez notre concept ...</p>
            </a>
            <div class="concept-image d-none d-lg-block"></div>
                <div class="d-lg-none">
                    <div class="justify-content-center">
                        <img src="http://127.0.0.1:8000/images/Icone_SAC_134x115.png" class="mb-2">
                        <h3>#1</h3>
                        <p >Rassemblez dans un sac de don les vêtements à donner. Tous les vêtements (neufs, en bon état ou abîmés) doivent être lavés. Attention : nous nous récupèrons pas les chaussures !</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_RDV_134x74.png" class="mb-2">
                        <h3>#2</h3>
                        <p>Choisissez sur le site à quelle école et quel jour vous souhaitez remettre votre sac de don.</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_CAMION_134x74.png" class="mb-2">
                        <h3>#3</h3>
                        <p>Le véhicule de collecte récupère votre sac.</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_DON_240x200.png" class="mb-2">
                        <h3>#4</h3>
                        <p>Les vêtements sont triés.<br> Les vêtements en bon état sont mis en vente sur le site et votre cagnotte sera créditée de «boutons». <br> Les vêtements abîmés sont utilisés comme matière première pour confectionner d’autres vêtements.</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_ECRANS_133x74.png" class="mb-2">
                        <h3>#5</h3>
                        <p>Choisissez sur le site les vêtements que vous souhaitez commander.</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_ACHAT_240x200.png" class="mb-2">
                        <h3>#6</h3>
                        <p>Vous pouvez payer vos achats , en ligne,en «boutons»  (+1€ par vêtement) ou bien directement en euros.</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_RDV_134x74.png" class="mb-2">
                        <h3>#7</h3>
                        <p>Choisissez sur le site à quelle école et quel jour vous souhaitez récupérer votre commande.</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_CAMION_134x74.png" class="mb-2">
                        <h3>#8</h3>
                        <p>Le véhicule de livraison vous livre votre commande (2€ par livraison).</p>
                        <p class="pb-3"> _____________________________<p>
                        <img src="http://127.0.0.1:8000/images/Icone_SAC_134x115.png" class="mb-2">
                        <h3>#9</h3>
                        <p>Récupérez votre commande  dans un sac de livraison. </p>
                    </div>
                <br>
                <a href="#section2"><img src="http://127.0.0.1:8000/images/Icone_Chevron.png"></a>
                <br>
    
        </div>

<!-- Section 2 : Déjà inscrit ou Nouveau ? -->
        <div id="section2">
            <div class="row mb-2 mx-1">
                <div class="col-md-6 button my-3">
                    <a href="{{ path('member_new') }}">
                        <h3>J’ai pas encore donné.</h3>
                        <h4>Comment récupérer mon sac de don ?</h4>
                        <p>Je m'inscris</p>
                    </a>
                </div>
                <div class="col-md-6 button my-3">
                    <a href="{{ path('member_setSession') }}">
                        <h3>J’ai déjà donné.</h3>
                        <h4>Combien de boutons ai-je dans ma cagnotte ?</h4>
                        <p>Je me connecte</p>
                    </a>
                </div>
            </div>
        </div>

 <!-- Section 3 : Les tournées -->
        <div id="section3">
            <div class="row mb-2 mx-1">
                <div class="col-md-6 button my-3">
                    <a href="{{ path('article_selection') }}">
                        <h3>Je profite des bonnes affaires.</h3>
                        <h4></h4>
                        <p>Je découvre la sélection</p>
                    </a>
                </div>
                <div class="col-md-6 button my-3">
                    <a href="{{ path('workshop_index') }}">
                        <h3>Je participe ou je me forme.</h3>
                        <h4></h4>
                        <p>Je découvre l'atelier "couture"</p>
                    </a>
                </div>
            </div>
        </div>
      <br>
      <br>
      <br>
      <br>
      <br>

     </div>

{% endblock %}